body{
    background-color: rgba(97, 167, 120, 0.945);

}

header{
    color: aliceblue;
    font-size: 40px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 30px;
    margin-top: 10px;
}

section{
    background-color: aliceblue;
    border-radius: 15px;
    padding: 15px;
    width: 500px;
    position: relative;
    text-align: center;
    margin: auto;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.274);
}

footer{
    color: aliceblue;
    text-align: center;
    font-style: italic;
    font-size: 18px;
}

img#dia{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

div {
    padding: 7px;
}